.centered {
	position: fixed;
    top: 30%;
    left: 50%;
    
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    
}

#answer, #logo {
	margin: 50px auto;
	text-align: center;
	font-size: 84px;
}

#logo {
	margin-top: 0;
}

#result-progress-bar {
	width: 50%;
    margin: 100px auto;	
}

#back-btn {
	display: block;
	width: 60%;
	margin: 50px auto;
}

/* Bootstrap dirty fix */
.progress-bar[aria-valuenow="1"],.progress-bar[aria-valuenow="2"] {
	min-width: 0px;
}
